body{
	background-color: powderblue;
	font-size: 30px;
	font-family: courier;
}


h1{
	color: blue;
	font-size: 15px;
	border: 2px solid blue;
	padding: 5px;
	text-align: center;
	margin: 30px
}
h2{
	font-size: 50px;
	color:brown;
}
h2.top{
		color:black;
		font-size: 20px;
}

p{
	color:black;
	font-size: 20px;
}
#p10{
	color: blue ;
	font-size: 30px;
}
#p2{
	color: brown;
	font-size:25px;
	marks: 
}
p.top{
	color:white;
	background-color: blue
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  padding: 15px 25px;
  background-color: f44336;
  text-align: center
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

