<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<meta charset="UTF-8">
	<meta name="description" content="Free Web test">
	<meta name="keywords" content="HTML,CSS,XML,JavaScript">
	<meta name="author" content="duman">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<base href="/static/img/" target="_blank">

</head>
<body>
<h1>Home</h1>

<p>Go to <a href="/user/Mehdi" target="_top"><b>Mehdi</b></a><img src="/static/img/smiley.gif" style="float:right ;width:50px; height:50x;"> </p>
<p>Go to <a href="result" target="_parent">Result</a></p>
<p><a href="/book" target = "_top">Go to book </a></p>
<p><a href="/teacher" target = "_top">Go to see picture element  </a></p>
<p><a href="/lamps">lamp</a></p>

<p id ="demo"></p>

<script type="text/javascript"  >
	document.getElementById('demo').innerHTML="this is me " 
	document.getElementById("demo").style.fontSize = 
</script>

</body>
</html>






