<!DOCTYPE html>
<html>
	<head lang="en-us">
		<meta charset="utf-8">
		<meta name="viewpoint" content="wisth=device-width , initial-scal = 1.0">
		<title>First webpage  Home</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>

	<body style=" background:rgb(147, 171, 255)">
		<h1 style= "color:green;; font-family:courier" title = "go to home ">Home</h1>
		<hr>
		<p style="font-size: 20px;background-color :#ffa500 ">Press the link to go another page <a href="user/mehdi" style="color:tomato; background:DodgerBlue";font-family:BTitr> <strong>Mehdi</strong></a> <img title = "image of mehdi "src="static/img/anonymous.jpg" width = "50" height= "50" alt = "this is the anonymous picture"></p> 
		<hr>
		<br>
		<br>
		<p style="background-color: rgba(221, 23, 65,.25);" > for leaning HTML clink <a title = "weschool "href=https://www.w3schools.com>leaning</a> </p>
		<hr>
		<p>this is <mark> test</mark> </p>
		<p>this is <small> test</small> </p>
		<p>this is <del> test</del> </p>
		<p>this is <ins>مهدی</ins>  </p>
		<p>my goal is that<q>
				building my future and
		 		forget negetive thought
		 	</q>
		</p>
		<!-- <p><bdo dir = rtl >مهدی</bdo></p> -->








	</body>
</html>






