<!DOCTYPE html>
<html>
<head>
	<title>lamps</title>
</head>
<body>
	<script >
		function light(sw){
			var pic;
			if(sw == 0 ){
				pic ="/static/img/lampOff.gif";
			}else{
				pic = "/static/img/lampOn.gif";
			}
			document.getElementById("onOff").src = pic;
		}
		

	</script>

	<img id = "onOff" src="/static/img/lampOff.gif" width = "100" height="180">

	<p>
		<button type="button" onclick="light(1)">light on</button>
		<button type="button" onclick="light(0)">light Off</button>
	</p>

</body>
</html>