<!DOCTYPE html>
<html>
<head>
	<title>lamps</title>
		<script >
		function light(sw){
			var pic;
			if(sw == 0 ){
				pic ="/static/img/lampOff.gif";
			}else{
				pic = "/static/img/lampOn.gif";
			}
			document.getElementById("onOff").src = pic;
		}
		
	</script>
	<style>
		h1{
			font-size: 65px;
			padding: 20px;

			border-left-style: solid;
			border-radius: 10px;
			border-width: 15px;
			border-color: #0033cc;
			background-color:   #99b3ff;
			text-align: center;
		}
		div{
			border-style: solid;
			border-radius: 15px;
			padding: 20px;
			width: 200px;
			align-self: center;
			margin-left: 500px;
			background-color:   #e6f2ff;
		}

	</style>

</head>
<body>
	<h1>Home Automation</h1>

	<div align="center">
		<img id = "onOff" src="/static/img/lampOff.gif" width = "100" height="180">

		<p>
			<button type="button" onclick="light(1)">light on</button>
			<button type="button" onclick="light(0)">light Off</button>
		</p>
	</div>

</body>
</html>